
#container-products{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    transform-style: preserve-3d;
}

#container-products .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;   
}
#container-products .box::before{
    content:attr(data-before);
    position: absolute;
    top: 20px;
    left: 50px;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
#container-products .box::after{
    content:attr(data-after);
    display: flex;
    position: absolute;
    bottom: 75px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
#container-products .box:hover::after,
#container-products .box:hover::before{
    opacity: 0.5;
}

#container-products .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
#container-products .box:hover .name{
    top: 40px;
    opacity: 1;
}
#container-products .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px ;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
#container-products .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}
#container-products .box .circle{
    position: absolute;
    top:50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}
#container-products .box .product{
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width:200px;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px)rotate(-15deg);
}
#container-products .box:hover .product{
    transform: translate3d(-50%,-50%,100px)rotate(-15deg);
}
#container-products .box .circle,
#container-products .box .buy{
    background: rgba(0, 0, 0, 0.342);
}


